@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
  min-height: 100vh;
}

p, li {
  font-size: 14px;
}

.title-not-found {
  color: darkgray;
}

.list-data {
  text-align: left;
}

.list-data li {
  width: max-content;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .2s;
}

.list-data li:hover {
  color: #333;
}

.additional-information {
  font-size: 18px;
  margin: 10px
}