.container {
    width: 500px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    border-radius: 5px;
}

.list { 
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: rgb(21, 94, 190);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease;
}

.link:hover {
    color: black;
}